@import 'bootstrap'
	
body
	background-color: grey
	
.title-box
	color: white
	background-color: green
	padding: 5px 10px 5px 10px
	
.padding-box
	padding: 5px 10px 5px 10px
	text-align: right
	
.purple-box
	color: white
	background-color: red
	padding: 5px 10px 5px 10px
	
.blue-box
	color: white
	background-color: blue
	padding: 5px 10px 5px 10px
	
.green-box
	color: white
	background-color: green
	padding: 5px 10px 5px 10px
	
.yellow-box
	color: white
	background-color: yellow
	padding: 5px 10px 5px 10px

.arrow-down
	position: relative
	margin: auto
	width: 0 
	height: 0
	border-left: 20px solid transparent
	border-right: 20px solid transparent
	border-top: 40px solid black